@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    margin: 0;
    height: 100%;
}

textarea:focus,
input:focus {
    outline: none;
}

.page {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.exit {
    width: 24px;
    height: 24px;
}

.center-form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px 40px 30px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px #e5e5ea;
    border-radius: 10px;
    padding-bottom: 40px;
    margin: 0 24px;
    width: 100%;

    &__header {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: inset 0px 0px 0px 1px #e5e5ea;
        backdrop-filter: blur(2px);
        font-size: 26px;
        line-height: 18px;
        color: #2c2c2e;
        padding: 26px 0 24px;
        margin-bottom: 30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__group {
        padding: 0 30px;
    }

    &__input-group {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
        display: flex;
    }

    input {
        border-radius: 5px;
        padding: 10px;
        border: none;
        width: 100%;
        font-size: 14px;
        color: #2c2c2e;

        &::placeholder {
            color: #000000;
            opacity: 0.5;
        }
    }

    &__btn-submit {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__error {
        color: #ff0000;
        padding: 0px 30px 5px;
    }
}

.btn {
    padding: 10px 30px;
    background: #5d5fef;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    cursor: pointer;
}
.loading {
    padding: 30px;
    text-align: center;
    &__loader {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: inline-block;
        border-top: 4px solid #ebebeb;
        border-right: 4px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        &::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border-left: 4px solid #5d5fef;
            border-bottom: 4px solid transparent;
            animation: rotation 0.5s linear infinite reverse;
        }
        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.bg-image {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../image/bg.png");
    filter: blur(25px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .center-form {
        width: 456px;
    }
}

@media only screen and (min-width: 992px) {
    .center-form {
        width: 546px;
    }
}
