.page-404 {
    &__code {
        color: #fff;
        font-size: 128px;
        font-weight: 800;
        text-align: center;
        width: 100%;
    }
    
    &__text {
        color: #fff;
        font-size: 60px;
        font-weight: 800;
        text-align: center;
    }
}
